{
    "db": {
        "data_dir": "/path/to/data",
        "db_file": "filename.db",
        "dbat_file": "sqlite.db",
        "category": []
    },
    "bot": {
        "username": "EDITME",
        "password": "EDITME",
        "server": "HOSTNAME",
        "debug": true,
        "openai": {
            "url": {
                "base": "https://host.name/ends/with/slash/",
                "chat": "v1/chat/completions",
                "draw": "v1/images/generations"
            },
            "key": "EDITME",
            "model": "gemini-pro",
            "model_openai": "gpt-4-1106-preview",
            "model_google": "gemini-pro",
            "model_bing": "bing",
            "max_history_size": 10,
            "max_text_length": 999999,
            "debug": true
        }
    }
}
